<configuration>

    <property name="HOME_LOG" value="${user.home}/var/log/example.com/notification_service/app.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/var/log/example.com/notification_service/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.example.notification" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="FILE-ROLLING" />
    </logger>

    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>